body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(./resources/images/me.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  opacity: 1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
}

.name {
  color: white;
  text-align: center;
  font-size: 400%;
  white-space: nowrap;
  margin-top: .5cm;
  margin-bottom: 0;
  margin-right: .5cm;
  margin-left: .5cm;
}

#pdf {
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: .5cm;
  margin-bottom: .5cm;
  margin-right: 0;
  margin-left: 0;
}

table td {
  text-align: center;
}
